.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  overflow-x: hidden;
}
.charst-wrapper {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  border: 1px solid hotpink;
  margin-bottom: 2rem;
}
