@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;700&family=Lato:ital@0;1&family=Lexend+Deca&family=Montserrat&family=Nunito+Sans:ital,wght@1,600&family=Roboto+Mono&family=Roboto:wght@300;400;500&family=Titillium+Web:wght@200;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --theme: #2870ff;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227, 227, 226, 0.75);
}
body {
  font-family: "Montserrat", sans-serif;
  scrollbar-width: thin; /* Set the scrollbar to be thinner than the default */
  scrollbar-color: #2870ff transparent; /* Set the color of the scrollbar thumb */

  /* For WebKit-based browsers (e.g., Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }

  /* For WebKit-based browsers: Style the scrollbar thumb (the draggable handle) */
  ::-webkit-scrollbar-thumb {
    background-color: #2870ff; /* Set the color of the scrollbar thumb */
    border-radius: 3px; /* Set the border-radius for a rounded thumb */
    height: 30px; /* Set the height of the scrollbar thumb */
  }

  /* Optional: Style the scrollbar track on hover (you can adjust this as needed) */
  ::-webkit-scrollbar:hover {
    width: 8px; /* Increase the width of the scrollbar on hover */
  }

  /* Optional: Style the scrollbar thumb on hover (you can adjust this as needed) */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #1f60d6; /* Change the color of the scrollbar thumb on hover */
  }
}

input {
  font-family: "Montserrat", sans-serif;
}
.input-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 70%;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 10px;
  padding: 0 1.2rem;
}
.input-flex input {
  width: 100%;
  padding: 0.5rem;
  border: none;
}
.input-flex input:focus {
  outline: none !important;
}
.select-input {
  width: 30%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem !important;
  padding: 0.4rem 0.5rem;
}
.select-input > div {
  border: 0px solid #fff !important;
}
